<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="font-weight-bold mr-auto text-center text-md-left text-lg-left">
            <a href="{% url 'dashboard' %}" class="h3 font-weight-bold text-dark text-decoration-none">Company Register Parser</a>
        </div>
        <span class="nav-link pl-0 pb-0 position-relative text-center text-md-left text-lg-left">
            <h5 class="bi bi-person-circle">
                <a class="stretched-link text-decoration-none text-dark" id="user_profile_link" href="{% url 'account' %}"> {{request.user.username}}</a>
            </h5>
        </span>
        <form  class="form mt-2 mb-1 text-center text-md-left text-lg-left" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-primary rounded-lg" value="Sign out">
        </form>
    </div>
</nav>
